body{
	background-color: #FEF9EF ;
	color: #66806A;
	font-family: 'Roboto', sans-serif;
	font-size : 15px ;
	font-weight : lighter;
}


h1 {
	color: #C85C5C ;
	font-size : 40px;
	font-family: 'Berkshire Swash', cursive;
	letter-spacing : 10px ;
	font-weight: bold;
}
h2 {
	color: #C85C5C ;
	font-family: 'Berkshire Swash', cursive; ;
	font-size : 20px;
	letter-spacing :3px ;
	font-weight: bold;
}

a {
	text-decoration: none ;
	color : #7E370C;
}
a:hover {
	color : orangered;
	transition: color 0.3s ease;
}
a:hover {
  color: black;
  text-decoration: none;
}


/* Custom design with class */

.container , .card-white {
	background : white ;
	padding : 30px ;
	box-shadow: 0px 10px 30px #C85C5C ;	
	border-radius : 4px ;
	border-top : 5px solid #C85C5C;
	margin : 10px auto;
	width : 650px ;
	text-align : center ;
}


@media (max-width: 760px) {
	.container , .card-white {
		width : 600px ;
	}
}

@media (max-width: 500px) {
	.container , .card-white {
		width : 400px ;
	}
}

.btn-red {
	background-color: #C85C5C;
	color : white;
	padding : 15px 20px ;
	border-radius : 4px ;
}

.list-inline {
	list-style: none ;
	padding-left : 0px;
}
.list-inline li {
	display : inline ;
	padding : 10px ;
}
.list-inline i {
	font-size : 30px ;
	color : #C85C5C ;
}

#Tifany {
	width : 300px ;
	border : 2px solid #C85C5C ;
}

#introduction p {
	margin-bottom: 40px;
}